<main class="py-8 px-4">
    <div class="max-w-lg mx-auto bg-white rounded-2xl shadow-lg overflow-hidden">
        <div class="bg-linear-to-r from-indigo-600 to-purple-600 p-6 text-white">
            <div class="flex items-center justify-center flex-col">
                <h1 class="text-2xl font-bold">My Todo List</h1>
                <p class="text-indigo-100 mt-1">Stay Organized</p>
            </div>
        </div>

        <!-- Main Content -->
        <div class="p-6">

            <!-- todo input section -->
            <app-todo-input (addTask)="onAddTodo($event)"></app-todo-input>

            <!-- Filter Buttons -->
            <div class="flex mb-4 space-x-2">
                <button 
                    (click)="refreshAllTodos()" 
                    class="bg-gray-200 hover:bg-gray-300 px-3 py-1 rounded-lg text-sm transition duration-200"
                    [ngClass]="activeTab === 'all' ? 'active' : ''"
                >
                    All
                </button>
                <button 
                    (click)="onGetActiveTodos()" 
                    class="bg-gray-200 hover:bg-gray-300 px-3 py-1 rounded-lg text-sm transition duration-200"
                    [ngClass]="activeTab === 'active' ? 'active' : ''"
                >
                    Active
                </button>
                <button 
                    (click)="onGetCompletedTodos()" 
                    class="bg-gray-200 hover:bg-gray-300 px-3 py-1 rounded-lg text-sm transition duration-200"
                    [ngClass]="activeTab === 'completed' ? 'active' : ''"
                >
                    Completed
                </button>
            </div>

            <!-- Populate todos here -->
            @if (todos.length > 0) {
                <!-- Todo List -->
                <div class="mb-2  max-h-92 overflow-y-auto">
                    @for (item of todos; track $index) {
                    <div class="mb-2">
                        <app-todo-item [todo]="item" (toggleTask)="onToggleTodo($event)"
                            (deleteTask)="onDeleteTodo($event)">
                        </app-todo-item>
                    </div>
                    }
                </div>
            } @else {
                <!-- Empty State -->
                <div class="text-center py-8">
                    <i class="fas fa-clipboard-list text-5xl text-gray-300 mb-4"></i>
                    <p class="text-gray-500">No tasks found. Add a task to get started!</p>
                </div>
            }

            <!-- Action Buttons at Bottom -->
            <div class="flex justify-between pt-2 border-t border-gray-200">
                <button
                    (click)="onClearCompleted()"
                    class="px-4 py-2 text-sm text-gray-600 hover:text-gray-800 transition duration-200 flex items-center cursor-pointer">
                    <i class="fas fa-broom mr-2"></i> Clear Completed
                </button>
                <button
                    (click)="onDeleteAll()"
                    class="px-4 py-2 text-sm text-red-500 hover:text-red-700 transition duration-200 flex items-center cursor-pointer">
                    <i class="fas fa-trash-alt mr-2"></i> Delete All
                </button>
            </div>
        </div>
    </div>
</main>
