<div class="mb-6">
    <div class="flex shadow-md rounded-lg overflow-hidden">
        <input 
            type="text" 
            required
            [(ngModel)]="newTask"
            (keydown.enter)="onAddClick()"
            placeholder="Enter task name"
            class="w-full px-4 py-3 border border-indigo-300 focus:outline-indigo-500 rounded-l-lg" 
        />

        <button 
            type="submit"
            (click)="onAddClick()" 
            class="w-[100px] inline-block bg-indigo-500 text-white px-3 hover:bg-indigo-700 cursor-pointer transition duration-200"
        >
            <i class="fas fa-plus"></i> Add
        </button>
    </div>
</div>
