<nav class="py-3 mb-4 flex justify-center space-x-12 text-lg">
    <div class="flex space-x-6 font-bold">
        <a 
            routerLink="/home" 
            routerLinkActive="text-blue-500" 
            class="hover:text-blue-500 transition-colors duration-300"
        >
            Home
        </a>
        <a 
            routerLink="/about" 
            routerLinkActive="text-blue-500" 
            class="hover:text-blue-500 transition-colors duration-300"
        >
            About
        </a>
    </div>
</nav>
<!-- <hr class="border-t border-gray-300 mb-4"> -->
